<!DOCTYPE html>
<html>
<head>
    <title>Identity</title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/styles.css">
    <script src="https://kit.fontawesome.com/8720cc72cb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/baralikto" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/osifont" type="text/css"/>
</head>
<body>
<div class="full-sheet">
<div class="character-info">
    <h1 class="identity-title">Identity Sheet</h1>
</div>
<div class="miri">
    <h1>Armournaut M.I.R.I</h1>
</div>
<div class="character-miri">
    <h2 class="ident-name">Alias: <input type="text"></h2>
    <h2 class="ident-tier">Tier: <input type="number"></h2>
    <h2 class="ident-rank">Rank: <input type="number"></h2>
</div>
<div class="ecul-title">
    <h1>Econ/Cul Status</h1>
</div>
<div class="ecul">
    <h2>Cryptoscrip: <input type="number"></h2>

    <h2>Background: <input type="text"></h2>
</div>
<div class="aptitude">
    <h1>Aptitude rankings</h1>
</div>
<div class="char-xp">
    <h2>XP: <input type="number"></h2>

    <h2>Spent XP: <input type="number"></h2>
</div>
</div>
</body>
</html>



