<html>
<head>
    <title>ArmourNET</title>
    <link rel="stylesheet" type="text/css" href="/static/CSS/styles.css">
    <script src="https://kit.fontawesome.com/8720cc72cb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/baralikto" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/osifont" type="text/css"/>
</head>
<body>
<div class="home-title">
    <h1>ArmourNET</h1>
</div>
<div class="new-identity-registration">
    <h2>New Identity Registration <i class="fa-solid fa-barcode"></i></h2>
</div>
<div class="new-vehicle-registration">
    <h2>New Vehicle Registration <i class="fa-solid fa-car-side"></i></h2>
</div>
<div class="registration-database">
    <h2>Registration Database <i class="fa-solid fa-passport"></i></h2>
</div>
</body>
</html>

